<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <div class="ion-text-center">
      <h2>สมัครสมาชิก</h2>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Name" type="text" fill="solid"></ion-input>
      <ion-input placeholder="Email" class="mt-4" type="email" fill="solid"></ion-input>
      <ion-input placeholder="Username" class="mt-4" type="text" fill="solid"></ion-input>
      <ion-input placeholder="Password" class="mt-4" type="password" fill="solid"></ion-input>
    </div>
    <ion-button expand="block" color="primary">Register</ion-button>
  </ion-card>
</ion-content>
